@import url('http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic');

@mixin text($w, $s, $l, $c) {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}

.wrapper {
    margin-right: 0;
    margin-left: auto;
    &__square {
        cursor: pointer;
    }
}
