@import url('http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic');

@mixin text($w, $s, $l, $c) {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}

.wrapper {
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;

    &__day {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
