@import url('http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic');

@mixin text($w, $s, $l, $c) {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: calc(280px * 4 + 30px * 3 - 230px);
    @media (max-width: 1400px) {
        width: calc(280px * 3 + 30px * 2 - 230px);
    }
    @media (max-width: 1030px) {
        width: calc(280px * 2 + 30px * 1 - 230px);
    }
    @media (max-width: 620px) {
        width: calc(280px * 1 + 30px * 0 - 230px);
    }
    &__institution {
        display: flex;
        flex-direction: column;

        &__title {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: auto;
            grid-row-gap: auto;
            margin-right: 40px;
            padding-left: 10px;

            &__block {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                @include text(600, 18px, 18px, #009b76);
                background-color: rgba(0, 155, 118, 0.3);
                border-radius: 8px;
                padding: 5px;
                margin-bottom: 10px;
                margin-left: 0;
                margin-right: auto;

                cursor: pointer;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
        }
    }
}
