@import url("http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic");

@mixin text($w, $s, $l, $c) {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}

@mixin sidebar_block($text-color) {
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    @include text(600, 18px, 16px, $text-color);
}

.select_game_type {
    text-decoration: none;
    @include sidebar_block(#fffff0);
    background-color: #009b76;
}

.select_game_type:hover {
    color: #009b76;
    background-color: rgba(0, 155, 118, 0.3);
}

.game_type {
    @include sidebar-block(#009b76);
}

.game_type:hover {
    background-color: rgba(0, 155, 118, 0.3);
}
